/*--------------------------------------------------------------
# Estilos adicionales solo usados en en el login
--------------------------------------------------------------*/

.errorm{
	position: relative;
	top: -80%;
    left: 43.5%;
}